@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .mainWrapper {
        @apply min-h-screen w-full flex bg-darkGrayishBlue
    }
    .postIcon {
        @apply text-mediumGray text-sm
    }
    .postDiv {
        @apply flex items-center p-[5px] gap-1 cursor-pointer hover:bg-mediumGrayishBlue rounded-full max-w-[130px]
    }
    .userInfo {
        @apply text-lightGray text-[15px]
    }
    .link {
        @apply text-lightBlue border-b border-transparent hover:border-lightBlue transition-all
    }
    .submitButton {
        @apply text-white bg-lightBlue hover:bg-lightBlue/70 font-bold rounded-lg transition flex items-center justify-center text-[15px] h-[43px] px-5 py-3
    }
    .inputDiv {
        @apply border-2 border-transparent flex gap-2 items-center text-darkGray bg-mediumGrayishBlue rounded-lg px-3 py-1 hover:border-deepBlue hover:text-white
    }
    .formInput {
        @apply my-[2px] bg-transparent border-none w-full outline-none text-darkGray placeholder:text-darkGray focus:text-white
    }
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}